<div class="restaurant-page-wrapper">

    <div class="container-fluid">
        <img src="../../../assets/images/dummy.png" alt="" class="restaurant-page-image col-sm-12">
    </div>

    <div class="restaurant-page-informations">
        <br>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 h3">{{response?.nom}}</div>
            </div>
            <div class="row">
                <div class="col-sm-9"><p class="text-left">{{response?.adresse}}</p></div>
                <div class="col-sm-3"><p class="text-center">{{response?.note}} / 10</p></div>
            </div>
            <div class="row text-left ">
                <div class="h3 col-sm-12">Plus D’informations:
                </div>
                <div class="h5 col-sm-12">Horaires d’ouverture
                </div>
                <div class="col-sm-12">Déjeuner : de 12h à 14h (sauf samedi)
                </div>
                <div class="col-sm-12">Diner : de 19h à 22h30 (sauf dimanche au mardi)
                </div>
                <div class="col-sm-12">Comment se rendre au restaurant
                </div>
                <div class="col-sm-12">{{response?.adresse}}
                </div>
                <div class="col-sm-12">Indication particulières
                </div>
                <div class="col-sm-12">Département, Région, Autres Tag
                </div>
            </div>

            <br>

            <div class="row text-left">
                <div class="h3 col-sm-12">Caractéristiques:
                </div>
                <div class="col-sm-12">Anniversaire, Branché, Entre amis, Evènement d’entreprise, Spécial groupe,
                    Brunch,
                    Festival Lafourchette, Autres Caractéristiques
                </div>
            </div>

            <br>

            <div class="row text-left">
                <div class="h5 col-sm-12">Services:
                </div>
                <div class="col-sm-12">Apple Pay, Carte bleu, Carte Mastercard, Carte Visa
                </div>
                <div class="col-sm-12">Restaurant privatisable (65 personnes max)
                </div>
                <div class="col-sm-12">Accès handicapé, Climatisé, Cocktail, Ouvert le dimanche, Privatisable
                </div>
            </div>

        </div>

        <br>
    </div>

    <br><br>

    <ng-container *ngFor="let element of avis">
        <div class="restaurant-avis-card">
            <div class="avis-card-userinfo">
                <div class="container-fluid">
                    <div class="row">
                        <p class="col-sm-9 offset-sm-3 backprimary">{{element.pseudo}}</p>
                    </div>
                    <div class="row">
                        <p class="col-sm-9 offset-sm-3 backprimary">{{element.date}}</p>
                    </div>
                </div>
            </div>
            <div class="avis-card-content">
                {{element.content}}
            </div>
            <div class="avis-card-note">{{element.note}} / 10
            </div>
        </div>
    </ng-container>

</div>
