.restaurant-page-wrapper {
    text-align: center;

    .restaurant-page-image {
        margin-bottom: 20px;
    }

    .restaurant-page-informations {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }

    .restaurant-avis-card + .restaurant-avis-card {
        margin-top: 20px;
    }

    .restaurant-avis-card {
        height: 150px;
        width: 100%;
        display: flex;
        border: 1px solid rgba(0, 0, 0, .5);
        border-radius: 10px;

        .avis-card-userinfo {
            flex: 2;

            .backprimary {
                background: #A86868;
                padding: 8px 0;
            }

        }

        .avis-card-content {
            flex: 3;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .avis-card-note {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

}
