#footer {
    width: 100vw;
    height: 80px;
    background: #161616;
    display: flex;
    justify-content: center;
    align-items: center;

    #footer-text {

        color: white;
        font-size: 1.4em;

    }

}
