<header id="header">
    <div id="header-brand">
        <a routerLink="/" class="text-white h3">LOGO</a>
    </div>
    <div id="header-nav">
        <ul *ngIf="!auth.isLoggedIn">
            <li><a routerLink="/login" class="btn btn-light">Connexion</a></li>
            <li><a routerLink="/register" class="btn btn-light">Inscription</a></li>
        </ul>
        <ul *ngIf="auth.isLoggedIn">
            <li><a (click)="logout()" class="btn btn-light">Déconnexion</a></li>
            <li><a routerLink="/register" class="btn btn-light">Mon compte</a></li>
        </ul>
    </div>
</header>
