@import "src/assets/css/global";

#header {

    position: fixed;
    width: 100vw;
    z-index: 1000;

    height: 80px;
    background: $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;

    #header-nav {
        ul {
            margin: 0 !important;
        }

        ul li {
            display: inline-block;
        }

        ul li + li {
            margin-left: 30px;
        }

    }

}
