.restaurant-card-wrapper {
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    .restaurant-card-image {
        flex: 1;
        height: 90%;
    }

    .restaurant-card-infos {
        flex: 1;
    }

    .restaurant-card-adresse {
        flex: 1;
    }

    .restaurant-card-data {
        flex: 1;
    }

}
