<div class="restaurant-card-wrapper" (click)="navigate()">

    <img class="restaurant-card-image" src="../../../assets/images/dummy.png" alt="">
    <div class="restaurant-card-infos">
        <div class="row">
            <p class="text-center">{{ nom }}</p>
        </div>
        <div class="row">
            <p class="col-sm-6">{{ note }} / 10</p>
            <p class="col-sm-6">nbrevotes</p>
        </div>
    </div>
    <div class="restaurant-card-adresse">
        <p>{{adresse}}</p>
    </div>
    <div class="restaurant-card-data">
        <div class="row"><p>{{type}}</p></div>
        <div class="row"><p>{{prixMoyen}}</p></div>
    </div>

</div>
