<app-header></app-header>

<ng-container *ngIf="router.url === '' || router.url === '/'">
    <div class="row search">
        <div class="search-wrapper col-sm-10 offset-sm-1">
            <div class="container-fluid">
                <div class="row">
                    <button class="col-sm-2 btn btn-outlined-primary">
                        DROPDOWN FILTER
                    </button>
                    <form class="col-sm-10" [formGroup]="searchForm">
                        <div class="container-fluid">
                            <div class="row">
                                <input type="text" formControlName="search" placeholder="Votre recherche ici"
                                       class="form-control col-sm-9">
                                <button (click)="search()" type="submit" class="btn btn-primary col-sm-3">Rechercher
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</ng-container>

<div class="row" id="page">

    <ng-container *ngIf="router.url === '' || router.url === '/'">
        <ng-container *ngFor="let element of response">
            <app-restaurant-card
                [restoId]="element.id"
                [nom]="element.nom"
                [note]="element.note"
                [adresse]="element.adresse"
                [type]="element.type"
                [prixMoyen]="element.prixmoyen"
            ></app-restaurant-card>
        </ng-container>
    </ng-container>

    <div class="col-sm-8 offset-sm-2">
        <router-outlet></router-outlet>
    </div>
</div>

<app-footer></app-footer>
