#page {
    padding-top: 130px;
    max-width: 1200px;
    margin: auto;
    min-height: calc(100vh - 80px);
}

.search {
    position: relative;
    top: 100px;
}

app-restaurant-card {
    width: 100%;
    height: 120px;
    cursor: pointer;
}

app-restaurant-card + app-restaurant-card {
    margin-top: 20px;
}

.search-wrapper {
    padding: 5px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-sizing: border-box !important;
    border-radius: 10px;

    .container-fluid, .row, button, input[type="text"] {
        height: 100% !important;
    }

    button {
        font-size: 1.2em;
    }

    input[type="text"] {
        font-size: 1.5em;
    }

}
