<div class="form-wrapper">
    <form class="form-center" [formGroup]="loginForm">

        <div class="row d-flex justify-content-center">
            <h1 class="h3">Connexion</h1>
        </div>

        <div class="row">
            <input formControlName="username" type="text" class="form-control" placeholder="Nom d'utilisateur">
        </div>

        <div class="row">
            <input formControlName="password" type="password" class="form-control" placeholder="Mot de passe">
        </div>

        <div class="row d-flex justify-content-center">
            <button (click)="submit()" [disabled]="loginForm.invalid" type="submit"
                    class="col-sm-6 form-control btn btn-dark">Connexion
            </button>
        </div>

        <div class="alert alert-primary text-center" *ngIf="response">
            {{ response.message }}
        </div>

    </form>
</div>
