.form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .form-center {
        & div + div {
            margin-top: 15px;
        }
    }

}
