/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,400&display=swap');

@import "assets/css/reset.css";
@import "assets/css/global";
@import "assets/bootstrap/scss/bootstrap";

* {
    font-family: 'Poppins', sans-serif;
}

//.btn {
//
//    border-radius: 5px;
//    border: 2px solid;
//    font-size: 16px;
//    padding: 8px 12px;
//    text-decoration: none;
//
//    &.primary {
//
//        border: 2px solid $primary-color;
//        background: $primary-color;
//        color: white;
//
//        &.inverted {
//            background: transparent;
//            color: $primary-color;
//        }
//
//    }
//
//    &.light {
//
//        border: 2px solid white;
//        background: white;
//        color: $text-color;
//
//        &.inverted {
//            background: transparent;
//            color: white;
//        }
//
//    }
//
//    &.dark {
//
//        border: 2px solid #161616;
//        background: #161616;
//        color: white;
//
//        &.inverted {
//            background: transparent;
//            color: #161616;
//        }
//
//    }
//
//}
